@import 'https://fonts.googleapis.com/css?family=Raleway';
*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}



.footer{
  width: 100%;
  height: 50px;
  float: left;
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
  .footer>.minif{
    float: left;
    position: relative;
    height: 100%;
  }
  .minif>img{
    width: 100%;
  }

  .title{
    font-weight: bold;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .tglo{
    height: 5px;
    padding-bottom: 0px !important;
    color: ;
  }
.full {
    min-height: 100% !important;
    height: 100% !important;

}
html,body{
    width: 100%;
    height: 100%;
    background:#F7F7F7 !important;
}


.datos-reporte_relacion {
  height: 100%;
  /* background: white; */
}

.datos-reporte_relacion p {
  font-size: 15px;
}
#paisRegistroR>option{
  padding-left: 0px !important;
  color: rgba(0, 0, 0, 0.6);
}
#paisRegistroR>select {
   text-align: center;
   text-align-last: center;
}

.grande{
    /* display: flex; */
    height: 330px;
    /* flex-direction: column; */
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.modal_der{
  /* background: red; */
  height: 100%;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

}
.img_vista{
  max-width: 350px;
  max-height: 350px;
}

.modal_izq>input, .modal_izq>textarea, .modal_izq>button, .modal_izq>h5 {
  position: relative;
  top: 50px;
}


.modal_izq{
  /* background: blue; */
  height: 100%;
  position: relative;
  float: left;
}
.texto-centrado{
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: justify;
  /* align-content: center; */

}
.visor-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.autor{
  outline: none;
  width: 80%;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #C4C4C4;
  background: rgb(245, 245, 245);
  padding-left: 8px;
  padding-right: 8px;
  resize: none;
}
 .img-info{
    width:80%;
    outline: none;
    border-width: 1px 1px 1px 1px;
    /* background-color: white; */
    border-style: solid;
    border-radius: 10px;
    background: rgb(245, 245, 245);
    padding-left: 8px;
    padding-right: 8px;
     resize: none;

 }

.especial-input{
  cursor: pointer;
}
/* .swiper-container {
  width: 40%;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.swiper-wrapper{
  display: flex;
  align-items: center;
} */

.sincolor{
  float: left;
  position: relative;
  background: none;
}
.info{
  height: 100%;
  background: #F7F7F7;
  float: left;
  position: relative;
  z-index: 9999;
/*  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-content: center;*/
  color: #383838 !important;
}
.img{
  height: 100%;
  background-image: linear-gradient(
     rgba(62,187,24,.3),
     rgba(20,62,92,.6)
     ),
     url(../img/prueba3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  position: relative;
  opacity: .7;
}
.logo{
  width: 100%;
  float: left;
  position: relative;
  height: 120px;
  /*background: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid rgba(0,0,0,.08);
}
  .logo>.mini{
    /*width: 25%;*/
    float: left;
    position: relative;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .mini>img{
    height: 50px;
  }
  .mini>.height{
    height: 80px;
  }

.arriba{
  height: auto;
  margin-top: 60px;
}
.title{
  font-weight: bold;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.invitado{
  text-decoration: none !important;
  font-size: .9em;
  margin-top: 20px;
  color: #383838 !important;
  cursor: pointer;
  font-weight: lighter !important;
}
    .prin{
      text-decoration: none !important;
      font-size: .9em;
      padding-bottom: 20px;
      box-sizing: border-box;
      color: #383838 !important;
      cursor: pointer;
      font-weight: lighter !important;
      margin-top: 10px;
    }

.vacio{
  float: left;
  position: relative;
  height: 100px !important;
}
.regis{
  float: left;
  position: relative;
  height: 30px;
  margin-bottom: 5px;
}
  .regis>a{
    color: rgba(0,0,0,.8) !important;
    text-decoration: none !important;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 15px;
    box-sizing: border-box;
  }

.encabezado{
  height: 160px;
  margin-top: -120px;
  top: 50%;
}

  .encabezado>h2{
    font-size: 4em !important;
    font-weight: bold;
    color: #fff;
    text-shadow: -3px 1px 2px rgba(0,0,5, 1);
  }
.swiper-wrapper{
  display: flex;
  align-items: center;
  flex-direction: row;
}
::-webkit-input-placeholder{
  color: white;
}

.datos-login{
  position: relative;
  margin-top: 3%;
  height: 350px;
  width: 100%;
  color: white;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.login-top{
  margin-top: 6%;
}

.datos-login h4{
  margin-top: 20px;
}
.datos-login a{
  color: white;
  text-decoration: none;
}
.datos-login input, .contenido-opciones input, .datos-login select{
  text-align: center;
  border: none;
  background: rgba(183,212,219,0.5);
  margin-top: 3%;
  width: 85%;
  height:40px;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
  color: white;
}
.login_pestaña {
  top: 20px;
  width: 35%;
  height: 50px;
  /*background-color: green;*/
  border-bottom: solid 2px red;
  position: relative;
  display: inline-block;
}

.contenido-opciones{
    margin-top: 15%;
    width: 100%;
    height: 120px;
}

.icono{
  position: relative;
  top: 20px;
  float: left;
  width: 100%;
}

.icono img{
  /*width: 30%;*/
	/*left: 2% !important;*/
    position: relative;
}

.icono h1{
  font-size: 20px;
  color: white;
}


.icono h3{
width: 80%;
margin-left: 10%;
margin-top: 3%;
font-size: 14px;
color: white;
}

.contMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  visibility: hidden;
  z-index: 111;
  transition: 0.05s;
}

.notificaciones{
  z-index: 999999999;
  background:#66CC99;
  position: absolute;
  top: -30%;
  width: 100%;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
  -webkit-transition:.8s all;
  /* box-shadow: 0 0 2px black; */
}
.notificaciones h1{
  color: rgba(255,255,255,0.8);
  margin-top: 15px;
  font-size: 18px;
}
.notificaciones{
  top: -70%;
}



.desplegarMenuM1{
  visibility: visible !important;
  background: rgba(0,0,0,0.2) !important;
}


.desplegarMenuM2{
  left: 0!important;
}
.contenedor-principal{
  position: absolute !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #F7F7F7;
  /*background-color: red;*/
}
.contMenu{
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.2);*/
  visibility: hidden;
  z-index: 111;
  transition: 0.05s;
  padding-left: -10px !important;
}
.menuDesplegable{
  left: 0%;
  background: #383838;
/*  width: 20% !important; */
  height: 100% !important;
  float: left;
  box-shadow: 0 0 10px rgba(0,0,0,.2) !important;
  font-size: 10px;
  z-index: 9999;
  transition: 0.2s ease-in-out;
/*  overflow: scroll; */
  overflow-x: hidden;
  padding-left: 0px !important;
}
.menuDesplegable a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1099px) and (min-width:991px){
  .lado_izq{
    margin-left: 17% !important;
  }
  .lado_der{
    margin-left: 25% !important;
  }

}


@media (max-width: 640px) and (min-width:500px){
	.sugerenciaTarjeta{
		/* width: 60% !important; */
		/* margin-left: 18.5% !important; */
	}

	.menuDesplegable{
		width: 50% !important;
	}
	.respuesta{
		width: 70% !important;
		margin-left: 15% !important;
	}
	/* .sugerencia {
		width: 60% !important;
		margin-left: 21% !important;
	} */
	.informacionPerfil{
		width: 70% !important;
		margin-left: 16% !important;
	}
	.definicion {
    left: 10.5% !important;
	}
  .img_vista{
    max-width: 220px !important;
    max-height: 220px !important;
  }
  #ver_imagen{
    max-width: 280px !important;
    max-height: 230px !important;
  }
}
@media (max-width: 670px) and (min-width:0px){
  .img_vista{
    max-width: 220px !important;
    max-height: 220px !important;
  }
  .grande{
    flex-direction: column;
    height: 500px !important;
  }
  .reportes{
    top: 45px !important;
  }
  .modal_der{
    height: 70% !important;
    top:20px !important;
  }
.notificaciones {
  width: 100% !important;
  margin-left: 0% !important;
}

  .definiciones {
    width: 105% !important;
    padding-left: 0px !important;
   }
   .can-guar{
     position: relative;
     margin-top: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: 37%;
     margin-left: 32%;
     align-items: center;
   }
   .boton-perfil {
     margin-top: 10px !important;
   }
   .contenedorDefinicion {
     background-color: #fff !important;
    display: -webkit-inline-box !important;
    overflow-y: scroll !important;
}

  .icono {
    margin-bottom: 10% !important;
  }
  .menuDesplegable{
     left: -100%;
  }
  .menuIcono{
      display: block !important;
  }
  .sugerencia {
      position: absolute;
  }
  .palabraEspecifica{
      margin-top: 50px !important;
      background-color: red;
  }
	.definicion {
      left: 10.5% !important;
      top: 80px !important;
      margin-bottom: 10% !important;
	}
  .busquedaAc{
    margin-top: 20% !important;
  }
  #perfil{
    margin-top: 40px !important;
  }
  .editD {
    margin-left: 59% !important;
    margin-top: -8% !important;
  }
  #palabra_report{
    top: 150px !important;
  }
  #relacion{
    top: 150px !important;
  }
  .report{
    top: 25px !important;
  }
  /* .reportes{
     top: 25px !important;
  } */
.acep_report h3{
  font-size: 18px !important;
  width: 70% !important;
  position: relative;
  float: left;
  margin-left: 5px;
  }
  #ver_imagen{
    max-width: 250px;
    max-height: 220px;
  }

}
/*@media (max-width: 344px) and (min-width: 320px){
  .palabrasDes {
    top: 35% !important;
  }
}*/
@media (min-width: 670px){
  .contenedorDefinicion{
      overflow: hidden !important;
  }
}

@media (max-width: 764px) and (min-width: 670px){
  .respuesta{
    width: 45% !important;
  }
  .texto-centrado{
    height: 287px;
  }
    #palabra_report{
    top: 150px !important;
  }
  #relacion{
    top: 150px !important;
  }
  .report-in{
    width: 50% !important;
    margin-left: 25% !important;
  }
  .report-un{
    width: 50% !important;
    margin-left: 25% !important;
    display: flex;
    height: 200px;
    flex-direction: column;
  }
  .report{
    top: 25px !important;
  }
  #ver_imagen{
    max-width: 200px;
    max-height: 220px;
  }

  /* .reportes{
    top: 25px !important;
  }
  .respuesta{
    width: 45% !important;
  }
  .can-guar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70% !important;
    margin-left: 15% !important;
    margin-top: 50px !important;
  }

}
@media (max-width: 990px) and (min-width: 765px){
	.respuesta{
    width: 40% !important;
    text-align: center;
    margin-left: 6% !important;
	}
  .sugerenciaTarjeta{
		width: 60% !important;
		text-align: center;
		margin-left: 20% !important;
	}
  .busquedaAc{
    margin-top: 5% !important;
  }
  .can-guar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70% !important;
    margin-left: 15% !important;
    margin-top: 45px !important;
  }


}

@media (max-width: 1100px) and (min-width: 990px){
	/* .sugerencia input, .sugerencia select{
		width: 60% !important;
		margin-left: 20% !important;
	} */
	/* .sugerenciaTarjeta{
		margin-left: 4% !important;
    margin-right: 4% !important;
	} */
  .busquedaAc{
    margin-top: 5% !important;
  }
  .respuesta{
    margin-left: 5% !important;
  }
  .sugerencia select{
    width: 40% !important;
    /* margin-left: 0% !important; */
  }


}

@media (max-width: 770px) and (min-width: 671px){
  .menuDesplegable{
        width: 35% !important;
    }
    .contenedor-principal{
       margin-left: 35% !important;
       width: 65% !important;
    }
    .busquedaAc{
        margin-top: 5% !important;
    }
    .img_vista {
      max-width: 240px !important;
      max-height: 260px !important;
      }
      #ver_imagen{
        max-width: 250px;
        max-height: 280px;
      }

}
@media (min-width: 770px) and (max-width: 1099px){
  .contenedor-principal{
    margin-left: 33% !important;
    width: 67% !important;
    }
  .definicion {
    left: 13% !important ;
    }
  .menuDesplegable{
    width: 33% !important;
    }
  .busquedaAc{
    margin-top: 5% !important;
    }
  .img_vista {
    max-width: 350px;
    max-height: 350px;
    }
  .img_vista {
    max-width: 240px !important;
    max-height: 260px !important;
    }
    #ver_imagen{
      max-width: 250px;
      max-height: 280px;
    }
  /* .sugerenciaTarjeta {
    width: 100% !important;
  } */
}


@media (min-width: 1200px){
  .division {
    margin-left: 5% !important;
  }
}

@media (min-width: 1100px) {

  .sugerencia select{
    width: 30% !important;
    justify-content: center;
  }


  .contenedorDefinicion {
      overflow: hidden !important;
  }

  .menuDesplegable{
        width: 20% !important;
}
.contenedor-principal{
     margin-left: 20% !important;
      width: 80% !important;
}

.sugeridas {
    width: 21% !important;
}
/* .sugerencia input, .sugerencia select{
    width: 57% !important;
    margin-left: -43% !important;
} */

  .empty{
      left: 26% !important;
  }
  /* .division{
      margin-top: 150px !important;
  } */
  .sugerenciaTarjeta{
      margin-left: .5% !important;
      margin-right: .5% !important;
  }
  .acomodarS{
    margin-left: 6% !important;
  }
  .busquedaAc{
    margin-top: 5% !important;
  }
 /* .img_vista{
  max-width: 220px !important;
  max-height: 220px !important;
  } */
  #ver_imagen{
    max-width: 300px;
    max-height: 300px;
  }
.empty{
    left: 26% !important;
}
/* .division{
    margin-top: 150px !important;
} */
.sugerenciaTarjeta{
    margin-left: .5% !important;
    margin-right: .5% !important;
    width: 46.5%;
}

.acomodarS{
  margin-right: 3% !important;
}
}
@media (min-width: 1200px) {
  .definicion{
       width: 50% !important;
       left: 20% !important;
  }
  #palabra_report{
    margin-left: 25%;
  }
}
#tituloMenu{
  position: relative;
  width: 107%;
  left: -5%;
  margin-top: -7%;
  color: black;
}






#busquedaPalabras{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#busquedaPalabras input{
    border: 0;
    box-shadow: none;
}

#busquedaPalabras img{
    width: 90%;
    height: 30px;
    filter: invert(60%);
}

#busquedaPalabras button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
.input-group-btn{
  width: 10% !important;
}
#busquedaPalabras button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;

}

#busquedaPalabras .glyphicon-search{
    font-size: 23px;
}








#tituloMenu h1{
  position: relative;
  /*top: 140px;*/
  color: black;
  text-align: center;
  font-size: 26px;
  font-weight: 100;
}
.menuDesplegable .opciones img{
  position: relative;
  top: 0px;
  width: 30px;
  float: left;
  -webkit-filter: invert(100%);

}

.menuDesplegable .opciones i{
  font-size: 27px;
  padding-left: 5px;
  color: rgba(255,255,255,1);
  opacity: .8;
  top: 1px;
  width: 27px;
  float: left;

}
.menuDesplegable .opciones h2{
  position: relative;
  top: -15px;
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
  font-size: 17px;
  font-weight: 400;
}
.menuDesplegable a{
  text-decoration: none !important;

  -webkit-tap-highlight-color: transparent;
}



.imgPerM{
  width: 130px;
  margin-top: 20px;
  /*margin-left: 13%;*/
  height: 130px;
  position: relative !important;
  /*left: 0;*/
  border-radius: 100%;
}

.menuDesplegable .opciones:hover{
  text-decoration: none;
  background: #5a5b5b;
  /* opacity: .3; */
}

.menuDesplegable .opciones h2:hover{
  text-decoration: none;
  /* background: #0E4C78; */
  opacity: 1;
}


.menuDesplegable .opciones{
  padding-left: 25px;
  height: 50px;
  padding-top: 10px;
  /* border-bottom: 1px solid #324859; */
}

.opMenu{
  margin-top: 15px;
  position: relative;
  /* background: #3676A4; */
  background: #383838;
}

.actual{
  background: rgba(70, 126, 155, 0.8);
}

.actual img{
   -webkit-filter: invert(30%);
}
.actual h2{
   -webkit-filter: invert(60%);
}


.resultados .titulos{
  width: 100%;
  position: relative;
  top: 70px;
  text-align: center;
}

.menuIcono{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /*padding-left: 0px !important;*/
  z-index: 11;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-sizing: border-box;
    height: 100% !important;
}
.menuIcono img{
   width: 60px;
}
.icono-enviar {
    position: absolute;
    top: 5px;
    left: 85%;
    width: 60px;
    height: 40px;
}

.icono-enviar img {
     border: none;
    margin-top: 12px;
    /* width: 20px !important; */
    left: -18px;
    height: 20px;
    outline: none;
    margin-left: 30%;
}



.busqueda{
  position: fixed;
  width: 100%;
  height: 51px;
  z-index: 11;
  background:#383838;
  display: none;
}
.busqueda img{
     border: none;
    margin-top: 16px;
    /* width: 20px !important; */
    left: -20px;
    height: 20px;
    outline: none;
    margin-left: 30%;
}
.busqueda #imgBack{
  -webkit-filter: invert(100%);
}
.busqueda input{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  position: relative;
  float: left;
  width: 75%;
  margin-left: 3%;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 3px;
}


.principal{
  background-color: red;
  width: 100%;
  height: 600px;
}


.sugerenciaRespMenu{
  padding-left: 0px !important;
  position: fixed !important;
  height: 50px;
  width: 100%;
  z-index: 11;
  background-color: #383838;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.sugerenciaRespMenu img{
  float: left;
  width: 50px;
}
.sugerenciaRespMenu h1{
  float: left;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 15px;
  margin-left: 5%;
}
.sugerenciaResp{
  height: auto;
}
.sugerencia input, .sugerencia select{
  background-color: transparent;
  width: 50%;
  height: 30px;
  margin-top: 15px;
  border: none;
  color: rgba(0, 0, 0, .6);
  font-size: 18px;
  border-bottom: 2px solid rgba(70, 126, 155, 0.5);
  outline: none;
}





.busquedaPalabras{
  width: 40%;
  margin-left: 23%;
  height: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.busquedaPalabras img{
  position: absolute;
  height: 40px;
  top: 0px;
  margin-left: 34.5%;
  filter: invert(50%);
}


.paginaActiva{
  background-color: #5a5b5b;
}

._activo{
  position: absolute;
  background-color: #66CC99;
  height: 50px;
  margin-top: -10px;
  width: 5%;
  margin-left: 87.5%;
  display: block;
}
.activo{

  /* display: none; */
}


/** Resultados Busquedas **/
.respuestas{
  position: relative;
  top: 65px;
  width: 100%;
}

.respuesta{
  margin-left: 3%;
  position: relative;
  float: left;
  width: 90%;
  height: 60px;
  background: white;
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #f2f2f2;


  padding-right: 0px !important;
  padding-left: 0px !important;

}
.respuesta .pais{
margin-left: 5%;
height: 30%;
border-bottom: 1px solid #f2f2f2;
width: 90%;
}
.respuesta .pais h1{
margin-top: 20px;
margin-left: 1%;
font-size: 18px;
}
.respuesta .palabra{
width: 60%;
height: 70%;
border-right: 1px solid #f2f2f2;
float: left;
}
.respuesta .palabra h3{
margin-top: 8%;
margin-left: 11%;
font-size: 22px;
}
.respuesta .bandera{
float: left;
width: 38.5%;
height: 70%;
}
.respuesta .bandera img{
margin-top: 8%;
margin-left: 25%;
width: 40%;
height: 45%;
}

sugeridas {
  height: 50px;
    cursor: pointer;
}


.sugerencia{
  position: relative;
  top: 70px;
  height: 100px;
  transition: 0.2s all;
  margin-bottom: 80px;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CheckBox*/
.sugerencia input[type="checkbox"]{
  width: 25px;
  float: left;
}
.sugerencia p{
  margin-left: 8px;
  margin-top: 20px;
  float: left;
}
.sugerencia input, .sugerencia select{
  background-color: transparent;
  height: 30px;
  margin-top: 15px;
  border: none;
  color: rgba(0,0,0,.6);
  font-size: 18px;
  border-bottom: 2px solid rgba(70, 126, 155, 0.5);
  outline: none;
}


.respuestas2{
  position: relative;
  top: -10px;
  width: 100%;
}
.respuestasB{
  position: relative;
  top: -10px;
  width: 100%;
}

.busquedaP{
  width: 32% !important;
}
/**Aceptar Sugrencias**/
/*
.banderaEspe{
    position: relative;
    top: 12px;
    float: left;
    margin-left: 1%;
    width: 53px;

}
*/

.banderaEspe {
    position: relative;
    /* top: 8px; */
    float: left;
    margin-left: 1%;
    width: 63px;
    padding: 6px;
    height: -webkit-fill-available;
    box-sizing: border-box;
}
.banderaP{
  display: flex;
  align-items: center;
	position: relative;
	/* width: 20%; */
	float: left;
	height: 100%;
}
banderaS{
	position: relative;
	float: left;
	height: 100%;
	width: 25% !important;
}
.sugeridas .pais2{
  position: relative;
  float: left;
  height: 100%;
  width: 57%;

}
.sugeridas .pais2 h1{
  /* margin-top: 18px !important; */
  line-height: 45px !important;
  font-size: 10px;
  margin-left: 3%;
  width: 100%;
}
.sugeridas .aceptar{
  position: relative;
  width: 22% !important;
}
.sugeridas .aceptar:hover{
  position: relative;
  top: 0px;
}
.sugeridas .aceptar:hover img{
  position: relative;
  top: 1px;
}
.sugeridas .aceptar img{
  position: relative;
  top: 7px;
  width: 45px;
}









/**Reportes**/
/*.report{
  left: 10% !important;*/
}


.sugeridas .pais2{
  position: relative;
  height: 100%;
  width: 58%;
}
.pais2 h1{
  margin-top: 5%;
  font-size: 16px;
  font-weight: 400;
}
.sugeridas .aceptar, .sugeridas .rechazar{
  position: relative;
  float: left;
  height: 100%;
  /* border-left: 1px solid #f2f2f2; */

}
/* .sugeridas .aceptar:hover{
  margin-top: 0;
  height: 100%;
  background: rgba(114,174,246,0.2);
} */
.sugeridas .aceptar:hover >img,.sugeridas .rechazar:hover >img{
  margin-top: 7%;
}
.sugeridas .rechazar:hover{
  margin-top: 0;
  height: 40%;
  background: rgba(221,29,63,0.2);
}




.empty{
  position: absolute;
  top: 30px;
  left: 30.5% !important;
  width: 40%;
  text-align: center;
  opacity: 0.5;
}
/* .emptyP{
	top:300px !important;
} */
.empty img{
  position: relative;
  width: 100px;
}
.empty h3{
  font-weight: 400;
  margin-top: 10px;
  font-size: 18px;
    /* margin-left: 2% !important; */
  height: 30px;
}














/** Especifica **/
.palabraEspecifica{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #3399CC;
  /* background: rgba(70,126,155,0.6); */
}
.palabraEspecifica h1{
  text-align: center;
  position: relative;
  /* top: 10px; */
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

.add_foto h4{
  color: white;
}

.add_foto {
  cursor: pointer;
}

.img_i {
  font-size: 90px !important;
}

.banderaPrincipal{
  margin-top: 15px;
  height: 50px;
  /* padding-left: 0px !important; */
}

.banderaPrincipal img {
  top: 0px;
  position: relative;
  width: 70px;
  float: left;
  /* margin-right: 76.5%; */
  /* margin-left: 1.5%; */
}

.definiciones {
  height: auto;
  background-color: white;
}

.titulos_definiciones{
  color: rgba(0,0,0,.8);
  font-weight: bold;
}

.texto_definicion{
    color: rgba(0,0,0,.7);
}

.contenedorSugerencias{
    height: 75% !important;
    /* overflow: hidden !important; */
}

.contenedorDefinicion{
  margin-top: 10px;
  background: #F7F7F7;
  position: relative;
  width: 100%;
  /*overflow: scroll;*/
  /* box-shadow: 0 0 2px gray; */
  height: auto !important;

}


.contenedorDefinicion h3 {
  font-size: 15px;
}

.contenedorSugerencias{
  background: #F7F7F7;
  position: relative;
  width: 100%;
  /*overflow: scroll;*/
  /* box-shadow: 0 0 2px gray; */
}


/**Reportes**/
/*.report{
  left: 40% !important;
 }*/


.report-cont{
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0px;
  background: rgba(0,0,0,0.8) ;
  width: 100% ;
  height: 100%  ;
  z-index: 99999999;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all ;
}
.report{
    height: auto;
    width: 100%;
    position: fixed !important;
    top: 150px;
    left: 0px;
    z-index: 99999999999999999999999999;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
}
.reportes{
    height: auto;
    width: 100%;
    position: fixed !important;
    top: 150px;
    left: 0px;
    z-index: 99999999999999999999999999;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
}

.revaluar{
    height: auto;
    width: 100%;
    position: fixed !important;
    top: 150px;
    left: 0px;
    z-index: 99999999999999999999999999;
    border-radius: 5px;
    text-align: center;
}
.report-in{
  position: absolute !important;
  top: 30%;
  height: auto;
  background: white;
  z-index: 999999;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.report-un{
  position: absolute !important;
  top: 30%;
  height: auto;
  background: white;
  z-index: 999999;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.report img{
  margin-top: 10px;
  width: 50px;
  height: auto;
}
.report h3{
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
.report-un img{
  margin-top: 10px;
  width: 50px;
  height: auto;
}
.report-un h3{
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}
/*.report-in:hover{
  width: 100%;
  height: 100%;
  background-color: rgba(50,137,199,0.2);
}*/
#definicionImg{
  position: relative;
  float: left;
  left: -1%;
  width: auto;
  top: 6px;
  height: 50px;
}
.definicion{
  position: absolute !important;
  top: 50px;
  left: 10%;
  width: 80%;
  background: red;
  z-index: 9999999999999;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  text-align: center;
  visibility: hidden;
}
.definicion h3{
  width: 80%;
  text-align: justify;
  margin-left: 10%;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
}
.definicion h5{
  color: rgba(70, 126, 155, 1);
  float: right;
  margin-right: 10%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.definicion h5:hover{
  cursor: pointer;
}






/*
.sugerenciaTarjeta .opcionesSug{
  padding: 10px !important;
  width: 7% !important;
  position: relative;
  left: 24% !important;
  height: 60% !important;
}
*/




.sugerenciaTarjeta{
    position: relative;
    float: left;
    height: 60px;
    background: white;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
/*
.sugerenciaTarjeta .banderaSug{
	position: relative;
    top: 8px;
    float: left;
    margin-left: 1%;
     width: 53px;
    padding: 6px;
    height: -webkit-fill-available;
    box-sizing: border-box;
}
*/

.sugerenciaTarjeta h2{
  height: 70%;
	margin-left: 1.5%;
  margin-top: 6%;
  font-weight: 400;
  float: left;
  font-size: 18px;
}
.sugerenciaTarjeta .opcionesSug{
    position: relative;
    left: 0%;
    margin-top: 7px;
    padding: 5px;
    width: 14%;
    height: 80%;

}


.sugerenciaTarjeta .aceptar:hover{
  background: rgba(64,143,243,0.1);
}
.sugerenciaTarjeta .rechazar:hover{
  background: rgba(216,4,42,0.1);
}


.voz{
	float: left;

	position: relative;
	height: 100%;
	width: 22%;
/*	left: 51%;*/

  position: relative;
  float: left;
  height: 100%;
}

 .voz img{
  position: relative;
  top: 7px;
  width: 45px;
}



.sugerenciaTarjeta .banderaSug{
  width: 10% !important;
}


.palabrasDes{
  /* top: -10%; */
  /* width: 100%; */
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.palabrasDes .speaker{
  text-align: center;
  position: relative;
  width: 40px;
  height: 40px;
}

.botones_center{
 position: relative;
 display: flex;
}


.sugerenciaTarjeta .pais2{
	  width: 45% ;
    float: left ;
}


.sugerenciaTarjeta .pais2 h2{
	  height: 70%;
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    font-weight: 400;
    float: left;
    font-size: 10px;
    margin-top: 25px !important;
    margin-bottom: 0px !important;
}
.tarjeta-reporte{
    position: relative;
    float: left;
    height: 60px;
    background: white;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.tarjeta-reporte  h2{
      margin-left: 1.5% !important;
      display: flex !important;
      align-items: center !important;
      font-weight: 400 !important;
      float: left !important;
      font-size: 10px ;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      height: 100% !important;
      justify-content: center;

}
.tarjeta-reporte .banderaR{
    height: 100%;
    float: left;
    width: 27%;
    display: flex;
align-items: center;
}

.sugerenciaTarjeta .banderaR{
    height: 100%;
    float: left;
    width: 27%;
    display: flex;
align-items: center;
}














/*** Perfil***/
.imgPerd{
  position: relative;
}
.imgPerd #edit{
  position: relative;
  margin-top: 15px;
  width: 25px;
  -webkit-filter: invert(100%);
}
#perfil{
  /*left: 40% !important;*/
  opacity: 1;
	top: 20px;
  position: relative !important;
  /*left: 0;*/
  height: 200px;
  -webkit-filter: invert(0%);
  width: 200px;
	border-radius: 100%;
  object-fit: cover;
  transition: 1s all;
}
.perfilTop img{
  margin-left: 5%;
  margin-top: 30px;

  width: 20px;
  -webkit-filter: invert(100%);
}
.perfilTop h1{
  position: relative;
  top: 110px;
  color: white;
  margin-left: 15%;
  font-size: 26px;
  font-weight: 400;
}
.can-guar{
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  width: 37%;
  margin-left: 32%;
  align-items: center;

}
.imgPerd i{
  width: 111px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  color: black;
  font-size: 27px;
  float: left;
  top: 20%;
  left: 6px;
  filter: invert(1);
  font-weight: 400;
  -webkit-transition: 1s all;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  justify-content: space-around;
  font-weight: bold;
}
.imgPerd i h4{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 16px !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}
.boton-perfil{
  background-color:  #528AA8;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
 display: none;
}
/* #guardarImg{
  background: #71C168;
} */
#cancelar{
  background: #F85858 !important;
}
.perfilTop #cancelar{
  margin-right: 25%;
}
.perfilTop a{
  -webkit-tap-highlight-color: transparent;
}
.perfilTop input[type="file"]{
  display: none;
}
.informacionPerfil{
  position: relative;
  width: 100%;
  height: 250px;
  margin-top:0%;
}
.tarjeta{
  background: white;
  width: 90%;
  height: 50px;
  border: 1px solid #f2f2f2;
  margin-top: 5%;
  margin-left: 5%;
}
.tarjeta img{
  margin-top: 10px;
  margin-left: 5%;
  width: 30px;
  float: left;
}
.tarjeta #bandera{
  margin-top: 15px;
}
.tarjeta h1{
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20%;
}


.contendorProgreso{
  position: relative;
  width: 75%;
  height: 30px;
  margin-top: 8px;
  margin-left: 20%;
  border: 1px solid rgba(70,126,155,1);
  overflow: hidden;
}
.progreso{
  position: relative;
  left: -100%;
  background: rgba(70,126,155,0.3);
  width: 100%;
  height: 100%;
  -webkit-transition: 6s all;
}

.imgB{
  width: 107%;
  height: 180px;

}

.editD{
  background-color: #528AA8;
  margin-left: 54%;
  width: 50px;
  height: 50px;
  margin-top: -4%;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;

}
.report-dv img{
  height: 50px;
  margin-top: 10px;
}
.report-dv{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  padding-left: 0px;
  padding-right: 0px;
}
.acep_report{
  position: absolute !important;
    height: 60px;
    background: white;
    cursor: pointer;
    z-index: 999999;
    text-align: center;
    border-radius: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* box-shadow:  0 1px rgba(0,0,0,0.3); */
    padding-right: 0px;
}
.acep_report i{
  font-size:  35px;
  position: relative;
  float: left;
  /* margin-top: 20px; */
}

.acomodarS  i{
  font-size:  35px;
  margin-right: 3%;
  position: relative;
  float: left;
  /* margin-top: 20px; */
}
.acomodarR  i{
  font-size:  35px;
  margin-right: 3%;
    margin-left: 3%;
  position: relative;
  float: left;
  /* margin-top: 20px; */
}


.acomodarS {
  display: flex;
  justify-content: center;
  align-items: center;
}
.acomodarR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.acep_report h3{
  font-size: 20px;
  position: relative;
  float: left;
  top: -5px;
  margin-left: 5px;
  width: 70% !important;
}
.division{
  height: 90px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  /* margin-left: 5%; */
}
.top{
  margin-top: 20px;
}

.contenedor_reportes_relaciones{
  margin-top: 30px;
}
.invitado{
  background: none !important;
  outline: none !important;
  border: none !important;
  color: #fff;
}
.respuesta:hover{
  box-shadow: 0px 12px 10px -10px rgba(0,0,0,0.05);
}


.invitado{
 background: none !important;
 outline: none !important;
 border: none !important;
 color: #fff;
 }
 .respuesta:hover{
 box-shadow: 0px 12px 10px -10px rgba(0,0,0,0.05);
 }
 .reporte{
   /* margin-top: -40px; */
    width: 80%;
    outline: none;
    border-width: 1px 1px 1px 1px;
    /* background-color: white; */
    border-style: solid;
    border-radius: 15px;
    background: rgb(245, 245, 245);
    padding-left: 8px;
    padding-right: 8px;
     resize: none;
 }
 .boton{
   margin-bottom: 70px !important;
 }
 .report-icon{
   font-size: 80px !important;
   filter: invert(1);
 }

 .reportar_relacion {
   font-size: 22px;
 }
.cont_grand{
  height: 100px !important;
}
.pag-report{
  top: 80px !important;
}

.acomodarS .pais2>h2{
  margin-top: 0px !important;
}
